<div class="problem-page-content">
  <div class="left-side">
    <div id="problems" class="input-menu">
      <div class="problem-header">
        <span>
          Formulation of the problem
        </span>
      </div>
      <div class="problem-description"></div>
      <div class="problem-fields">
          <div style="padding-left:5%; padding-right:5%;">
              <form>
                  <div class="form-group" style="text-align:left; align-content:center;">
                      <label for="modulF">|F|</label>
                      <input type="text" class="form-control" id="modulF" placeholder="|F|">
                  </div>
                  <div class="form-group" style="text-align:left;">
                      <label for="argF">arg(F)</label>
                      <input type="text" class="form-control" id="argF" placeholder="arg(F)">
                  </div>
                  <div class="form-group row" style="text-align:left;">
                      <div class="col-md-6">
                          <label for="M1">M<sub>1</sub></label>
                          <input type="text" class="form-control" id="M1" placeholder="M1">
                      </div>
                      <div class="col-md-6">
                          <label for="M2">M<sub>2</sub></label>
                          <input type="text" class="form-control" id="M2" placeholder="M2">
                      </div>
                  </div>
                  <div class="form-group" style="text-align:left;">
                      <label for="eps">e</label>
                      <input type="text" class="form-control" id="eps" placeholder="e">
                  </div>
              </form>
          </div>
      </div>
      <div class="problem-footer">
        <div class="problem-button">
          <a ng-click="problem2Ctrl.solve()">Solve</a>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-side">
      <div id="plot2" class="plot"></div>
  </div>

  <div class="right-side">
    <div id="history" class="input-menu">
      <div class="history-header">
        <span>
          History
        </span>
      </div>
      <div class="history-content"></div>
      <div class="history-footer">
        <div class="problem-button">
          <a ng-click="problem2Ctrl.show()">Show</a>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
    var trace1 = {
        x: [1,
1.05,
1.1 ,
1.15,
1.2 ,
1.25,
1.3 ,
1.35,
1.4 ,
1.45,
1.5 ,
1.55,
1.6 ,
1.65,
1.7 ,
1.75,
1.8 ,
1.85,
1.9 ,
1.95,
2   ,
2.05,
2.1 ,
2.15,
2.2 ,
2.25,
2.3 ,
2.35,
2.4 ,
2.45,
2.5 ,
2.55,
2.6 ,
2.65,
2.7 ,
2.75,
2.8 ,
2.85,
2.9 ,
2.95,
3   ,
3.05,
3.1 ,
3.15,
3.2 ,
3.25,
3.3 ,
3.35,
3.4 ,
3.45,
3.5 ,
3.55,
3.6 ,
3.65,
3.7 ,
3.75,
3.8 ,
3.85,
3.9 ,
3.95,
4   
        ],
        y: [
0.2004449,
0.6981702,
1        ,
0.8863916,
0.8693649,
0.9255888,
0.9252481,
0.9181686,
0.9083395,
0.8699636,
0.8026274,
0.7284968,
0.6636573,
0.6220268,
0.6025350,
0.6044026,
0.6194048,
0.6394967,
0.6615956,
0.6819725,
0.6950528,
0.6977330,
0.6861988,
0.6608598,
0.6283012,
0.5966283,
0.5684527,
0.5459441,
0.5288758,
0.5155076,
0.5028279,
0.4901779,
0.4789723,
0.4668821,
0.4546568,
0.4400940,
0.4197895,
0.3913777,
0.3572283,
0.3095090,
0.2586845,
0.2138608,
0.1920109,
0.0817701,
0.1608082,
0.1412755,
0.1366797,
0.1439412,
0.1580010,
0.1849124,
0.2152397,
0.2360079,
0.2489110,
0.2511323,
0.2454152,
0.2352743,
0.2265063,
0.2257193,
0.2332029,
0.2486998,
0.2531098

        ],
        name: 'yaxis data',
        type: 'scatter'
    };

    var data = [trace1];

    var layout = {
        title: 'Double Y Axis Example',
        yaxis: { title: 'yaxis title' },
    };

    Plotly.newPlot('plot2', data, layout);
</script>