* {
    box-sizing: border-box;
}

html {
    padding: 10px;
}

html,
body,
.page-content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
}

.left-side {
    display: flex;
    width: 19%;
    height: 100%;
    background: lightblue;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.right-side {
    display: flex;
    width: 19%;
    height: 100%;
    background: lightblue;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.middle-side {
    display: flex;
    width: 60%;
    height: 100%;
    background: lightgreen;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.plot {
    display: flex;
    width: 80%;
    height: 40%;
    background: lightseagreen;
}