* {
  box-sizing: border-box;
}

html {
  background: #c2d4d8;
}

html,
body,
.page-content {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  background: #c2d4d8;
}

.main-page-content {
  display: flex;
  width: 100%;
  height: 90%;
}

.problem-button span {
  text-align: center;
  font-size: 1.2vw;
  text-decoration: none;
}

a:focus, a:hover {
    cursor: pointer;
}