table.dataTable {
  margin: 0;
  font-size: 1em;
  border-collapse: separate;
  border-spacing: 3px 10px;
}

  table.dataTable thead {
    text-transform: uppercase;
    background: #b08a92;
    color: #f2efe8
  }

  table.dataTable tbody tr {
    cursor: pointer;
    min-height: 50px;
    height: 50px;
  }

  table.dataTable.no-footer,
  table.dataTable thead th {
    border: none;
  }

  table.dataTable thead th {
    padding: 15px 10px;
  }

  table.dataTable tbody td {
    color: #b7b7b7;
    margin: 5px 0;
    padding: 5px 10px;
  }

  table.dataTable tbody tr.selected td {
    background-color: #c6d5e3;
    color: #1d1d1d;
  }

  table.dataTable td .dt-icon {
    width: 100%;
    text-align: center;
  }

    table.dataTable td .dt-icon > img {
      height: 16px;
      width: 16px;
    }

  table.dataTable td .dt-icon-with-text > img {
    margin-right: 15%;
    width: 40px;
    height: 40px;
  }

  table.dataTable .actions-right {
    float: right;
  }

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #c6d5e3;
  color: black;
}

table.dataTable tbody tr.invalid-row {
  background-color: #FFFBCC !important;
}

table.dataTable tr > td,
table.dataTable tr > th {
  border-radius: 4px;
  text-align: center;
}

table.dataTable tr > td {
  color: #b08a92;
}

.history-table-content {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: auto;
}

table.dataTable thead .sorting {
    background: inherit;
}

table.dataTable thead .sorting_asc {
    background: inherit;
}

table.dataTable thead .sorting_desc {
	background: inherit;
}