.problem-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
}

.left-side {
  display: flex;
  width: 20%;
  height: 100%;
  background: #c2d4d8;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.input-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f2efe8;
  justify-content: space-around;
}

.problem-header,
.history-header {
  display: flex;
  width: 100%;
  height: 10%;
  background: #b08a92;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}

  .problem-header span,
  .history-header span {
    color: #f2efe8;
    font-size: 1.5vw;
    display: block;
    width: 90%;
    word-wrap: break-word;
    text-align: center;
  }

.problem-description {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  align-content: center;
  align-items: center;
  background: #f2efe8;
  justify-content: start;
  border-bottom: 1px solid #b08a92;
}

.problem-left-arrow,
.problem-right-arrow {
  display: flex;
  height: 100%;
  width: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.problem-description-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.refresh-button {
  height: 2%;
  position: absolute;
  top: 12%;
  right: 2%;
  cursor: pointer;
}

.problem-description-content {
  display: inline-block;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.problem-fields {
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 100%;
  align-content: center;
  align-items: center;
  background: #f2efe8;
  justify-content: start;
  border-bottom: 1px solid #b08a92;
}

.problem-footer,
.history-footer {
  display: flex;
  flex-direction: column;
  height: 5%;
  width: 100%;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f2efe8;
  justify-content: center;
}

.problem-button {
  display: flex;
  align-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

.problem-button a {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #b08a92;
  color: #f2efe8;
  
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

.problem-button a.disabled {
  background: #dbe9d8;
  cursor: not-allowed;
}

.right-side {
  display: flex;
  width: 30%;
  height: 100%;
  background: #c2d4d8;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.history-content {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
  align-content: center;
  align-items: center;
  background: #f2efe8;
  justify-content: start;
  border-bottom: 1px solid #b08a92;
}

.history-table-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  align-content: center;
  align-items: center;
  justify-content: start;
}

.middle-side {
  display: flex;
  width: 50%;
  height: 100%;
  background: #dbe9d8;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-direction: row;
  border-radius: 5px;
}

.middle-side .plot-left-arrow,
.middle-side .plot-right-arrow {
  display: flex;
  height: 95%;
  width: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.middle-side .plot-left-arrow img,
.middle-side .plot-right-arrow img,
.problem-description .problem-left-arrow img,
.problem-description .problem-right-arrow img {
  height: 24px;
  width: 24px;
}

.plot-wrapper {
  display: flex;
  width: 90%;
  height: 95%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.plot {
  display: flex;
  width: 100%;
  height: 100%;
}
