.top-bar {
  display: flex;
  width: 100%;
  height: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: #f2efe8;
  padding: 20px;
}

.top-bar-left {
  display: flex;
  height: 100%;
  align-self: left;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

  .top-bar-left .problem-button {
    display: flex;
    align-content: center;
    align-items: center;
    width: auto;
    height: 30px;
    background: #dbe9d8;
    color: #b08a92;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
  }

.top-bar-right {
  display: flex;
  height: 100%;
  align-self: right;
  align-content: center;
  align-items: center;
}

  .top-bar-right .problem-button {
    display: flex;
    align-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background: #dbe9d8;
    color: #b08a92;
    border-radius: 5px;
    padding: 0 10px;
  }
