@{
  ViewBag.Title = "Coursework";
}

<div ng-app="appModule" class="page-content">
  <div ng-controller="rootController as rootCtrl" class="page-content">
    <top-bar></top-bar>
    <div id="main" ng-view class="main-page-content"></div>
  </div>
</div>