@using System.Web.Optimization
@{
  ViewBag.Title = "Coursework";
}

@Scripts.Render("~/bundles/problems")

<div ng-app="problemsModule" class="page-content">
  <div class="left-side">
    <div class="user-info" ng-controller="ProblemsController as pc">
      <div class="user-photo">
        <img src="~/Content/images/abstract-user-photo.png" />
      </div>
      <div class="user-login">
        {{pc.user.userLogin}}
      </div>
    </div>

    <div id="problems" class="input-menu">
      <div id="problem1" class="menu-item">
        <div class="menu-item-header">
          <a ng-click="isFirstProblemExpanded = !isFirstProblemExpanded">
            <span>Problem 1</span>
            <img ng-show="!isFirstProblemExpanded" src="~/Content/svg/expand-arrow-up.svg"/>
            <img ng-show="isFirstProblemExpanded" src="~/Content/svg/expand-arrow-down.svg"/>
          </a>
        </div>
        <div class="menu-item-content" ng-show="!isFirstProblemExpanded">
          <p>Problem 1</p>
        </div>
      </div>
      <div id="problem2" class="menu-item">
        <div class="menu-item-header">
          <a ng-click="isFirstProblemExpanded = !isFirstProblemExpanded">
            <span>Problem 2</span>
            <img ng-show="isFirstProblemExpanded" src="~/Content/svg/expand-arrow-up.svg" />
            <img ng-show="!isFirstProblemExpanded" src="~/Content/svg/expand-arrow-down.svg" />
          </a>
        </div>
        <div class="menu-item-content" ng-show="isFirstProblemExpanded">
          <p>Problem 2</p>
        </div>
      </div>
    </div>

  </div>
  <div class="middle-side">
    <div class="plot"></div>
    <div class="plot"></div>
  </div>
  <div class="right-side">
  </div>
</div>