@{
  ViewBag.Title = "Coursework";
}
<div ng-app="HomeApp" class="page-content">
    <div class="left-side">
        <div class="user-info">
            <ul>
                @foreach (var state in ViewBag.States)
                {
                    <li>@state.Name</li>
                }
            </ul>
        </div>





        <div class="input-menu container-fluid" ng-controller="personCtrl">
            
                <div id ="tasks" class="span12">
                    <div class="row-fluid">
                        <button ng-click="hideFirst()">Чисельні алгоритми розв’язування задачі синтезу випромінюючої системи (антенної решітки) за енергетичною діаграмою направленості</button>
                    </div>
                    <div class="row-fluid" ng-hide="hideFirstVar">
                        <p> задача 1</p>
                    </div>
                    <div class="row-fluid">
                        <button ng-click="hideSecond()">Знаходжння ліній галуження розв'язків нелінійного інтегрального оператора</button>
                    </div>
                    <div class="row-fluid" ng-hide="hideSecondVar">
                        <p> zadacha2 </p>
                    </div>
                </div>
        </div>








    </div>
  <div class="right-side">
    <div class="plot"></div>
    <div class="plot"></div>
  </div>
</div>

<script src="~/Scripts/angular.js"></script>
    <script>
        var HomeApp = angular.module("HomeApp",[]);
        HomeApp.controller('personCtrl', function ($scope) {
            $scope.hideFirstVar = true;
            $scope.hideSecondVar = true;
            $scope.hideFirst = function () {
                $scope.hideFirstVar = !$scope.hideFirstVar;
            };
            $scope.hideSecond = function () {
                $scope.hideSecondVar = !$scope.hideSecondVar;
            };
        });
    </script>
