<div class="accounts">
  <div class="sign-in">
    <div class="accounts-header"></div>
    <div class="accounts-fields">
      <div class="form-pair">
        <span for="inputUsername">Username</span>
        <input type="text" id="inputUsername" name="inputUsername" ng-model="accountCtrl.loginUser.username" placeholder="Username"
               validate-on="blur" required required-message="'Username is required'">
      </div>
      <div class="form-pair">
        <span for="inputPassword">Password</span>
        <input type="password" id="inputPassword" name="inputPassword" ng-model="accountCtrl.loginUser.password" placeholder="Password"
               validate-on="blur" required required-message="'Password is required'">
      </div>
    </div>
    <div class="accounts-button">
      <div class="problem-button">
        <a ng-click="accountCtrl.login()"><span class="span-accounts-button">Sign In</span></a>
      </div>
    </div>
  </div>

  <div class="sign-up">
    <div class="accounts-header"></div>
    <div class="accounts-fields">
      <div class="form-pair">
        <span>Username</span>
        <input type="text" name="inputUsername" ng-model="accountCtrl.registerUser.username"
               placeholder="Username" validate-on="blur" required required-message="'Username is required'">
      </div>
      <div class="form-pair">
        <span>Password</span>
        <input type="password" name="inputPassword" ng-model="accountCtrl.registerUser.password" placeholder="Password"
               validate-on="blur" required required-message="'Password is required'">
      </div>
      <div class="form-pair">
        <span>Email</span>
        <input type="email" name="inputEmail" ng-model="accountCtrl.registerUser.email" placeholder="Email address"
               validate-on="blur" required required-message="'Email is required'">
      </div>
    </div>
    <div class="accounts-button">
      <div class="problem-button">
        <a ng-click="accountCtrl.register()"><span class="span-accounts-button">Sign Up</span></a>
      </div>
    </div>
  </div>
</div>