<div class="problem-page-content">
  <div class="left-side">
    <div id="problems" class="input-menu">
      <div class="problem-header">
        <span>
          Formulation of the problem
        </span>
      </div>
      <div class="problem-description">
        <div class="problem-left-arrow">
          <img src="/Content/images/left-arrow.png" ng-click="aRPPCtrl.swapProblem()" />
        </div>
        <div ng-if="aRPPCtrl.isFirstProblemSelected()" class="problem-description-wrapper">
          <div class="problem-description-content">
                <div> $$\sigma(I)=\iint\limits_{\Omega} \left[ P(\xi_1,\xi_2)-|f(\xi_1,\xi_2)|^2 \right] ^2 \mathrm{d}\xi_1 \mathrm{d}\xi_2 $$</div>
                <div> $$ + \iint\limits_{R \setminus \Omega} \left[ |f(\xi_1,\xi_2)|^2 \right] ^2 \mathrm{d}\xi_1 \mathrm{d}\xi_2 $$ </div >
                <div> $$\sigma(I)\rightarrow \min_{I\in H_1},\quad I_{nm}\in H_1$$ </div>
           </div>
        </div>
        <div ng-if="!aRPPCtrl.isFirstProblemSelected()" class="problem-description-wrapper">
          <div class="problem-description-content">problem description 2</div>
        </div>
        <div class="problem-right-arrow">
          <img src="/Content/images/right-arrow.png" ng-click="aRPPCtrl.swapProblem()" />
        </div>
      </div>
      <div class="problem-fields">
        <div style="padding-left:5%; padding-right:5%;">
          <div class="form-group" style="text-align:left; align-content:center;">
            <label for="moduleF">|F|</label>
            <input type="text" class="form-control" id="moduleF" ng-model="aRPPCtrl.problemInputData.fModule" placeholder="|F|">
          </div>
          <div class="form-group" style="text-align:left;">
            <label for="argF">arg(F)</label>
            <input type="text" class="form-control" id="argF" ng-model="aRPPCtrl.problemInputData.fArgument" placeholder="arg(F)">
          </div>
          <div class="form-group row" style="text-align:left;">
            <div class="col-md-6">
              <label for="M1">M<sub>1</sub></label>
              <input type="text" class="form-control" id="M1" ng-model="aRPPCtrl.problemInputData.m1" placeholder="M1">
            </div>
            <div class="col-md-6">
              <label for="M2">M<sub>2</sub></label>
              <input type="text" class="form-control" id="M2" ng-model="aRPPCtrl.problemInputData.m2" placeholder="M2">
            </div>
          </div>
          <div class="form-group row" style="text-align:left;">
            <div class="col-md-6">
              <label for="C1">C<sub>1</sub></label>
              <input type="text" class="form-control" id="C1" ng-model="aRPPCtrl.problemInputData.c1" placeholder="C1">
            </div>
            <div class="col-md-6">
              <label for="C2">C<sub>2</sub></label>
              <input type="text" class="form-control" id="C2" ng-model="aRPPCtrl.problemInputData.c2" placeholder="C2">
            </div>
          </div>
          <div class="form-group" style="text-align:left;">
            <label for="eps">e</label>
            <input type="text" class="form-control" id="eps" ng-model="aRPPCtrl.problemInputData.eps" placeholder="e">
          </div>
        </div>
      </div>
      <div class="problem-footer">
        <div class="problem-button">
          <a ng-click="aRPPCtrl.solve()">Solve</a>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-side">
    <div class="plot-left-arrow">
      <img src="/Content/images/left-arrow.png" ng-click="aRPPCtrl.swapGraph()" />
    </div>
    <div  class="plot-wrapper">
        <first-problem-graphic plot-info="aRPPCtrl.plotInfo"></first-problem-graphic>
    </div>
    <div class="plot-right-arrow">
      <img src="/Content/images/right-arrow.png" ng-click="aRPPCtrl.swapGraph()" />
    </div>
  </div>

  <div class="right-side">
    <div id="history" class="input-menu">
      <div class="history-header">
        <span>
          History
        </span>
      </div>
      <div class="history-content">
        <div class="history-table-content-wrapper">
          <div id="HistoryTableContent" class="history-table-content">
            <arpp-history problems="aRPPCtrl.problemsHistory"></arpp-history>
          </div>
        </div>
      </div>
      <div class="history-footer">
        <div class="problem-button">
          <a ng-click="aRPPCtrl.showResult()">Show</a>
        </div>
      </div>
    </div>
  </div>
</div>

