<div class="problem-page-content">
  <div class="left-side">
    <div id="problems" class="input-menu">
      <div class="problem-header">
        <span>
          Formulation of the problem
        </span>
      </div>
      <div class="problem-description">
        <div class="problem-left-arrow">
          <img src="/Content/images/left-arrow.png" ng-click="arppCtrl.fucntions.swapProblemType()" />
        </div>
        <div class="problem-description-wrapper">
          <formulation-problem formulationproblemtype="arppCtrl.variables.formulationProblemType"></formulation-problem>
        </div>
        <div class="problem-right-arrow">
          <img src="/Content/images/right-arrow.png" ng-click="arppCtrl.fucntions.swapProblemType()" />
        </div>
      </div>
      <div class="problem-fields">
        <div style="padding-left:5%; padding-right:5%;">
          <div class="form-group" style="text-align:left; align-content:center;">
            <label for="moduleF">|F|</label>
            <input type="text" class="form-control" id="moduleF" ng-model="arppCtrl.variables.problemInputData.fModule" placeholder="|F|">
          </div>
          <div class="form-group" style="text-align:left;">
            <label for="argF">arg(F)</label>
            <input type="text" class="form-control" id="argF" ng-model="arppCtrl.variables.problemInputData.fArgument" placeholder="arg(F)">
          </div>
          <div class="form-group row" style="text-align:left;">
            <div class="col-md-6">
              <label for="M1">M<sub>1</sub></label>
              <input type="text" class="form-control" id="M1" ng-model="arppCtrl.variables.problemInputData.m1" placeholder="M&#8321;">
            </div>
            <div class="col-md-6">
              <label for="M2">M<sub>2</sub></label>
              <input type="text" class="form-control" id="M2" ng-model="arppCtrl.variables.problemInputData.m2" placeholder="M&#8322;">
            </div>
          </div>
          <div class="form-group row" style="text-align:left;">
            <div class="col-md-6">
              <label for="C1">c<sub>1</sub></label>
              <input type="text" class="form-control" id="C1" ng-model="arppCtrl.variables.problemInputData.c1" placeholder="с&#8321;">
            </div>
            <div class="col-md-6">
              <label for="C2">c<sub>2</sub></label>
              <input type="text" class="form-control" id="C2" ng-model="arppCtrl.variables.problemInputData.c2" placeholder="с&#8322;">
            </div>
          </div>
          <div class="form-group" style="text-align:left;">
            <label for="eps">&epsilon;</label>
            <input type="text" class="form-control" id="eps" ng-model="arppCtrl.variables.problemInputData.eps" placeholder="&epsilon;">
          </div>
        </div>
      </div>
      <div class="problem-footer">
        <div class="problem-button">
          <a ng-click="arppCtrl.fucntions.solve()"><span>Solve</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-side">
    <div class="plot-left-arrow visibility-hidden">
      <img src="/Content/images/left-arrow.png" ng-click="arppCtrl.fucntions.swapGraph()" />
    </div>
    <div class="plot-wrapper">
      <first-problem-graphic plot-info="arppCtrl.variables.plotInfo"></first-problem-graphic>
    </div>
    <div class="plot-right-arrow visibility-hidden">
      <img src="/Content/images/right-arrow.png" ng-click="arppCtrl.fucntions.swapGraph()" />
    </div>
  </div>

  <div class="right-side">
    <div id="history" class="input-menu">
      <div class="history-header">
        <span>
          History
        </span>
        <img class="refresh-button" src="/Content/images/refresh.png" ng-click="arppCtrl.fucntions.refreshHistory()" />
      </div>
      <div class="history-content">
        <div class="history-table-content-wrapper">
          <div id="HistoryTableContent" class="history-table-content">
            <arpp-history problems="arppCtrl.variables.problemsHistory" selected-problem-id="arppCtrl.variables.selectedProblemId"></arpp-history>
          </div>
        </div>
      </div>
      <div class="history-footer">
        <div class="problem-button">
          <a id="ShowButton" class="disabled" ng-click="arppCtrl.fucntions.showResult()"><span>Show</span></a>
        </div>
      </div>
    </div>
  </div>
</div>